body
{
    border:0px;
    padding: 0px;
    margin: 0px;
}

.navigation
{
    width: 100vw;
    text-align: center;
    background-color: rgba(240,240,240,255);
    height: 9vh;
}

.icons
{
    border:none;
}

.dropdown .icons
{
    border: none;
    outline: none;
    margin: none;
}

.dropdown
{
    overflow: hidden;
}

.links 
{
    display: none;
    position: absolute;
    background-color: #dfdfdf;
    top: 6vh;
    left: 6vw;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.links a
{
    float: none;
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 2vw;
    display: block;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown:hover .links
{
    display: block;
}

.fa-thinner
{
    -webkit-text-stroke: 3px rgba(240,240,240,255);
}

.YT
{
    display: none;
}

@media screen and (min-width: 1550px) {
    .YT
    {
        display: inline;
    }   
}

.INST
{
    display: none;
}

@media screen and (min-width: 1465px) {
    .INST
    {
        display: inline;
    }   
}

.FB
{
    display: none;
}

.else
{
    display: none;
}

.SDRC
{
    font-size: 4.5vmin;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

@media screen and (min-width: 1380px) {
    .FB
    {
        display: inline;
    }

    .else
    {
        display: inline;
    }  
}

@media screen and (min-width: 1080px) {
    .SDRC
    {
        font-size: 5vmin;
    }
}

@media screen and (max-height: 800px) {
    .else
    {
        display: none;
    }

    .FB
    {
        display: none;
    }

    .INST
    {
        display: none;
    }

    .YT
    {
        display: none;
    }
}

p
{
    font-family: Gill Sans, sans-serif;
    font-weight: 700;
    font-size: 2.6vmin;
    line-height: 35px;
}

.home:hover, .home:visited, .home:link
{
    color: black;
    text-decoration: none;
}

.green-line
{
    background-color: rgb(0, 150, 0);
    width: 100vw;
    height: 11vh;
}

.recycle-back
{
    width: 100vw;
    height: 89vh;
    background-color: rgba(228,191,170,255);
    border-collapse: collapse;
    position: absolute;
    overflow: hidden;
}

.recycle-symbol
{
    width: 20vmin;
    height: auto;
    padding: 6vw;
    vertical-align: middle;
    display: none;
}

@media screen and (min-width: 1821px){
    .recycle-back
    {
        background-image: url('resources/donation-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.5;
        background-position: center center;
    }
    
    .recycle-symbol
    {
        display: inline;
    }

    p
    {
        font-size: 2.7vmin;
    }

}

@media screen and (min-width: 1581px) and (max-width: 1820px){
    .recycle-back
    {
        background-image: url('resources/donation-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.5;
        background-position: center center;
    }

    .recycle-symbol
    {
        display: inline;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1580px){
    .recycle-back
    {
        background-image: url('resources/donation-background.jpg');
        background-size: cover;
        opacity: 0.5;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .recycle-symbol
    {
        display: inline;
    }

    p
    {
        font-size: 2.5vmin;
    }
}

@media screen and (min-width: 910px) and (max-width:1399px){
    p
    {
        font-size: 2.4vmin;
    }
}

.back
{
    position: relative;
    height: 89vh;
    overflow: hidden;
}

.contents
{
    width: 100vw;
    height: auto;
    text-align: center;
    overflow: hidden;
}