.middlepart
{
    position: relative;

}

.back
{
    background-image: url('resources/donation-background.jpg');
    background-size: 100%;
    background-position: 0px -120px;
    border-collapse: collapse;
    width: 100%;
    height: 870px;
    opacity: 70%;
    
    position: absolute;
}

body
{
    border:0px;
    padding: 0px;
    margin: 0px;
}

.navigation
{
    width: 100vw;
    text-align: center;
    background-color: rgba(240,240,240,255);
    height: 9vh;
}

.icons
{
    border-width: 0px;
}

.fa-fw
{
    width: 3vw;
    height: 2vw;
}

.fa-thinner
{
    -webkit-text-stroke: 3px white;
}

.home:hover, .home:visited, .home:link
{
    color: black;
    text-decoration: none;
}

.SDRC
{
    font-size: 65px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.green-line
{
    background-color: rgb(0, 150, 0);
    width: 100%;
    height: 130px;
}

.table
{
    width: 100%;
    height: auto;
    text-align: center;
}
.cim
{
    font-size: 50px;
    font-weight: bold;
}

.leftside
{
    width: 25%;
    height: 865px;
}

.leftsideimage
{
    background-image: url('resources/donation-box.png');
    background-size:contain;
    width: 100%;
    height: 420px;
    background-repeat: no-repeat;
}

.text1, .text2, .text3, .text4
{
    font-size: 32px;
    font-weight: bold;
}
