body
{
    border:0px;
    padding: 0px;
    margin: 0px;
}

.navigation
{
    width: 100vw;
    text-align: center;
    background-color: rgba(240,240,240,255);
    height: 9vh;
}

.icons
{
    border-width: 0px;
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.links 
{
    display: none;
    position: absolute;
    background-color: #dfdfdf;
    left: 0px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.links a
{
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 2vw;
    display: block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown:hover .links
{
    display: block;
}

.fa-thinner
{
    -webkit-text-stroke: 3px rgba(240,240,240,255);
}

.YT
{
    display: none;
}

@media screen and (min-width: 1550px) {
    .YT
    {
        display: inline;
    }   
}

.INST
{
    display: none;
}

@media screen and (min-width: 1465px) {
    .INST
    {
        display: inline;
    }   
}

.FB
{
    display: none;
}

.else
{
    display: none;
}

.SDRC
{
    font-size: 4.5vmin;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

@media screen and (min-width: 1380px) {
    .FB
    {
        display: inline;
    }

    .else
    {
        display: inline;
    }  
}

@media screen and (min-width: 1080px) {
    .SDRC
    {
        font-size: 5vmin;
    }
}

@media screen and (max-height: 800px) {
    .else
    {
        display: none;
    }

    .FB
    {
        display: none;
    }

    .INST
    {
        display: none;
    }

    .YT
    {
        display: none;
    }
}

.donate
{
    width: 33vw;
    background-image: url('resources/food-donation.jpg');
    background-size:cover;
    border-collapse: collapse;
    background-position: -2vw 0px;
    color: white;
    font-size: 5vmin;
    font-family: Gill Sans, sans-serif;
}

.recycle
{
    width: 33vw;
    background-image: url('resources/recycling-bins.jpg');
    background-size: cover;
    border-collapse: collapse;
    background-position: -15vw 0px;
    color: white;
    font-size: 5vmin;
    font-family: Gill Sans, sans-serif;
}

.help
{
    width: 33vw;
    background-image: url('resources/helping-hand.jpg');
    background-size: cover;
    border-collapse: collapse;
    background-position: -13vw 0px;
    color: white;
    font-size: 5vmin;
    font-family: Gill Sans, sans-serif;
}

.home:hover, .home:visited, .home:link
{
    color: black;
    text-decoration: none;
}



.green-line
{
    background-color: rgb(0, 150, 0);
    width: 100vw;
    height: 11vh;
}

.selection
{
    width: 100vw;
    height: 89vh;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}

.linkDonate:link, .linkRecycle:link, .linkHelp:link, .linkDonate:visited, .linkRecycle:visited, .linkHelp:visited
{
    color: white;
    text-decoration: none;
}

.linkDonate:hover, .linkRecycle:hover, .linkHelp:hover
{
    transition: 700ms;
    font-size: 6vw;
}
